<div>
    <div class="wrapper">
        <div class="row b bg-white-only" style="border-color: #FFA382;">
            <div class="col-xs-8">
                <table class="table text-left text-nowrap">
                    <tbody>
                    <tr>
                        <td colspan="4">
                            <div>
                                <span>代码：</span><span class="text-info">{{prd.PRO_CODE}}</span>
                                <span class="m-l-lg text-xxl text-danger" title="{{prd.SHT_NAME}}">{{prd.SHT_NAME}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="10%">参与起点：</td>
                        <td width="40%" class="text-info">{{prd.INVE_START | moneyFomat:'2'}}</td>
                        <td width="10%">基金类型：</td>
                        <td width="40%" class="text-info">{{prd.FUND_PRO_TYPE_DESC}}</td>
                    </tr>
                    <tr>
                        <td class>基金规模：</td>
                        <td class="text-info">{{(prd.LATEST_SIZE && prd.LATEST_SIZE != 0) ? (prd.LATEST_SIZE | moneyDivide) + '元' : '--'}}</td>
                        <td>风险等级：</td>
                        <td class="text-info">{{prd.RISK_LVL_DESC}}</td>
                    </tr>
                    <tr>
                    <tr>
                        <td>{{(!prd.DIST_STAT || prd.DIST_STAT == 0) ? '' : (prd.DIST_STAT == 1 ? '募集期起止时间' : '成立日期')}}：</td>
                        <td class="text-info">{{(!prd.DIST_STAT || prd.DIST_STAT == 0) ? '' : (prd.DIST_STAT == 1 ? prd.RAISE_BGN_DATE : prd.GRP_DATE)}}</td>
                        <td>成立以来收益率：</td>
                        <td class="text-info">{{prd.COMM_ALL ? prd.COMM_ALL + '%' : ''}}</td>
                    </tr>
                    <tr>
                        <td>单位净值：</td>
                        <td class="text-info">{{(prd.NAV_VAL && prd.NAV_VAL != 0) ? prd.NAV_VAL + '元' : '--'}}</td>
                        <td>累计净值：</td>
                        <td class="text-info">{{(prd.ACC_VAL && prd.ACC_VAL != 0) ? prd.ACC_VAL + '元' : '--'}}</td>
                    </tr>
                    <tr>
                        <td>基金经理：</td>
                        <td class="text-info">{{prd.FUND_MANAGER}}</td>
                        <td>管理人：</td>
                        <td class="text-info">{{prd.MANAGER_USER_DESC}}</td>

                    </tr>
                    <tr>
                        <td>登记机构：</td>
                        <td colspan="3" class="text-info">{{prd.REGI_ORG_DESC}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-4 b-l" style="border-color: #FFA382;background-color: #FFF7F0; height: 290px;">
                <div detail-buy-panel></div>
            </div>
        </div>
    </div>
</div>

<div class="m-t m-b">
    <div class="b-a bg-white-only">
        <div class="wrapper">
            <div tabset class="nav-tabs-alt">
                <div tab>
                    <div tab-heading><span class="font-bold">基金概况</span></div>
                    <div gmjj-proinfo proid="{{pro_id}}"></div>
                </div>
                <div tab ng-click="gmjjTabs.manager.active = true;">
                    <div tab-heading><span class="font-bold">基金经理</span></div>
                    <div ng-if="gmjjTabs.manager.active" gmjj-maninfo proid="{{pro_id}}"></div>
                </div>
                <div tab ng-click="gmjjTabs.group.active = true;">
                    <div tab-heading><span class="font-bold">投资组合</span></div>
                    <div ng-if="gmjjTabs.group.active" gmjj-comgroup proid="{{pro_id}}"></div>
                </div>
                <div tab ng-click="gmjjTabs.netvalue.active = true;" active="gmjjTabs.netvalue.active">
                    <div tab-heading><span class="font-bold">基金净值</span></div>
                    <div ng-if="gmjjTabs.netvalue.active" gmjj-nav proid="{{pro_id}}" partype="gmjj"></div>
                </div>
                <div tab ng-click="gmjjTabs.bonus.active = true;">
                    <div tab-heading><span class="font-bold">基金分红</span></div>
                    <div ng-if="gmjjTabs.bonus.active" gmjj-bonus proid="{{pro_id}}"></div>
                </div>
                <div tab ng-click="gmjjTabs.fee.active = true;">
                    <div tab-heading><span class="font-bold">费率结构</span></div>
                    <div ng-if="gmjjTabs.fee.active" gmjj-fee-structure proid="{{pro_id}}"></div>
                </div>
                <div tab ng-click="gmjjTabs.notice.active = true;">
                    <div tab-heading><span class="font-bold">基金公告</span></div>
                    <div ng-if="gmjjTabs.notice.active" gmjj-note proid="{{pro_id}}" partype="1"></div>
                </div>
                <div tab ng-click="gmjjTabs.law.active = true;">
                    <div tab-heading><span class="font-bold">法律文件</span></div>
                    <div ng-if="gmjjTabs.law.active" gmjj-note proid="{{pro_id}}" partype="2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-t-lg m-b ">
    <div recm-prds ctype="{{type}}"></div>
</div>