<div class="modal-header">
    <div class="modal-title m-b">
        <div class="pull-left text-md font-bold" ng-bind="agreement.name"></div>
        <div class="pull-right m-t-n-sm m-r-n-xs"><i class="fa fa-times i-checks" ng-click="cancel()"></i></div>
    </div>
</div>
<div class="modal-body">
    <div ng-switch on="agreement.static">
        <div ng-switch-when="otcAgreement" style="width: 100%; height: 250px; overflow-y: scroll">
            <pre style="border: none; background: inherit; padding: 0; margin:0; font: inherit;">
柜台市场业务电子签名约定书
甲方：指与本协议共同存在的渤海证券股份有限公司《渤海证券柜台市场产品账户开户申请表》中的申请人

乙方：指与本协议共同存在的渤海证券股份有限公司《渤海证券柜台市场产品账户开户申请表》中的受理营业部

根据《合同法》、《电子签名法》关于民事合同使用数据电文、电子签名的规定，采用电子签名签订的电子合同及电子风险揭示书具有与纸质合同及纸质风险揭示书同等的法律效力。以此作为法律依据，本着提高合同签署效率的目的，甲方（申请人）与乙方（渤海证券股份有限公司的受理分支机构）就柜台市场业务过程中使用电子合同、电子风险揭示书、电子签名事宜，经协商达成如下一致意见：
甲方与乙方同意自本约定书签订之日起，在参与柜台市场相关业务过程中，使用电子合同及电子风险揭示书、电子签名。甲方通过身份认证登陆指定的网络系统，确认同意接受相关电子合同或文书，应视为签署合同，与在纸质合同上手写签名或者盖章具有同等的法律效力，无须另行签署纸质合同或者文书。
甲方在签署电子签名合同之前，需了解所参与的柜台市场业务的产品特点、投资方向、风险收益特征等内容，并认真听取本公司对相关业务规则、产品说明书和产品合同等的讲解，综合考虑自身的资产与收入状况、投资经营、风险偏好，选择与自己风险承受能力相匹配的柜台市场业务的产品，确认无误后，根据系统提示或者柜台工作人员的提示采用电子签名方式签署电子签名合同。甲方应妥善管理密码，经甲方密码登陆甲方账户后的所有操作视同甲方本人行为，甲方承担由此产生的一切法律后果。
            </pre>
        </div>
        <div ng-switch-when="otcContract" style="width: 100%; height: 250px; overflow-y: scroll">
            <pre style="border: none; background: inherit; padding: 0; margin:0; font: inherit;">
柜台市场产品账户开户协议

甲方：指与本协议共同存在的渤海证券股份有限公司《渤海证券柜台市场产品账户开户申请表》中的申请人

乙方：指与本协议共同存在的渤海证券股份有限公司《渤海证券柜台市场产品账户开户申请表》中的受理营业部


依据《中华人民共和国证券法》、《中华人民共和国合同法》、《证券公司柜台交易业务规范》、《证券公司柜台市场管理办法（试行）》和其他有关法律、法规、规章、机构间私募产品报价与服务系统业务规则（下称“私募报价系统”）以及乙方柜台市场业务相关制度规则的规定，甲乙双方就甲方参与乙方柜台市场业务事宜达成如下协议，供双方共同遵守。

第一章　双方声明及承诺
第一条　甲方向乙方作如下声明和承诺：
1、甲方具有合法的证券投资资格，不存在法律、法规、规章、私募报价系统业务规则以及渤海证券柜台市场业务制度规则禁止或限制其投资证券市场的情形；
2、甲方保证在其参与乙方柜台市场业务存续期内向乙方提供的所有证件、资料均真实、准确、完整、合法，当乙方发现甲方身份存疑时，甲方需配合乙方提供居民户口簿或有效期内的护照或户籍所在地公安机关出具的身份证明文件原件等足以证实甲方身份的其他材料，如甲方提供材料无法证实甲方身份时，乙方有权利拒绝为甲方办理业务；
3、甲方保证资金来源的合法性；
4、甲方已阅读并充分理解乙方向其提供的相关《渤海柜台市场业务风险揭示书》，清楚认识并愿意承担参与柜台市场业务的投资风险；甲方已详细阅读本协议所有条款，并准确理解其含义，特别是其中有关乙方的免责条款；
5、甲方同意遵守证券市场有关法律、法规、规章以及私募报价系统业务规则及乙方柜台市场业务制度规则；如果甲方违法违规使用账户，或存在严重影响正常交易秩序的异常交易行为，乙方可以拒绝甲方委托，或终止与甲方的柜台市场业务关系。
6、甲方承诺遵守本协议，并承诺遵守乙方的相关管理制度；甲方承诺，其投资行为基于自己的判断，由此产生的一切后果均由甲方自己承担。
第二条　乙方向甲方作如下声明和承诺：
1、乙方是依法设立的证券经营机构，具有相应的证券业务资格，且已实施客户交易结算资金人民币第三方存管和外币独立存管；
2、乙方具有开展柜台市场业务的必要条件，能够为甲方的交易提供相应的服务；
3、乙方承诺遵守有关法律、法规、规章、私募报价系统业务规则及渤海证券柜台市场业务制度规则，乙方的经营范围以证券监督管理机关批准的经营内容为限，不接受客户的全权交易委托，不对客户的投资收益或亏损进行任何形式的保证，不编造或传播虚假信息误导投资者，不诱使客户进行不必要的证券买卖；
4、乙方承诺遵守本协议，按本协议为甲方提供柜台交易服务。

第二章　协议标的
第三条　协议标的，即甲方接受乙方为其提供的以下服务：
1、接受甲方申请，为其开立乙方柜台市场产品账户（以下简称“产品账户”）；
2、接受并执行甲方针对柜台市场业务下达的合法有效的委托指令；
3、代理甲方进行柜台市场资金、产品的清算、交收；
4、代理保管甲方买入或存入的柜台市场产品；
5、代理甲方领取柜台市场产品红利及其他利益分配；
6、接受甲方对其委托、成交及资金账户内的资金和产品账户内的柜台市场产品变化情况的查询，并应甲方的要求提供相应的清单；
7、双方依法约定的其他事项；
8、证券监督管理机关规定提供的其他服务。

第三章柜台市场
第四条  乙方柜台市场是指乙方为与特定交易对手方在集中交易场所之外进行交易或为投资者在集中交易场所之外进行交易提供服务的场所或平台。
乙方依照相关规定开展柜台市场业务并接受中国证券业协会的自律管理。
协会委托中证资本市场发展监测中心有限责任公司建立私募报价系统,为柜台市场提供互联互通服务。
第五条  乙方在柜台市场发行、销售与转让的产品包括但不限于以下私募产品：
（一）乙方及其子公司以非公开募集方式设立或者承销的资产管理计划、公司债务融资工具等产品；
（二）银行、保险公司、信托公司等其他机构设立并通过渤海证券发行、销售与转让的产品；
（三）金融衍生品及中国证监会、中国证券业协会认可的产品。

第四章　产品账户
第六条  产品账户指客户甲方在乙方开立专门用于参与甲方柜台市场产品买卖交易的账户。产品账户按照不同产品登记机构分别开立。乙方通过产品账户代理甲方的柜台产品买卖交易，并代理客户进行清算交收和计付利息等。
第七条　甲方开立产品账户须到乙方柜台办理，乙方不接受其他任何方式的申请，办理时甲方须出示下列证件，并按乙方要求如实填写开户申请表：
1、本人身份证件（包含身份证、护照或其他证明本人身份的法定身份证件原件，以下统称“有效身份证件”）及其复印件；
2、甲方为自然人，如果由代理人代甲方办理时，除本条第1项约定的甲方本人有效身份证件外，还须提供经公证的授权委托书，代理人有效身份证原件及复印件；
甲方因对提供资料的真实性、完整性、准确性负责，因前款所述资料引起的法律后果由甲方自行承担。
若甲方为机构投资者，按本协议第十章办理。
第八条  甲方开立产品账户后，须向甲方在乙方开立的资金账户内存入足够资金作为客户交易结算资金。人民币资金存入方式应当按照与乙方签订的第三方存管协议的有关条款执行。
第九条  甲方产品账户销户，须出示第七条所列证件原件，并按乙方要求填写销户登记表。
若甲方为机构投资者，按本协议第十章办理。

第五章　柜台市场交易
第十条　渤海证券柜台市场采取协议、报价、做市、拍卖竞价、标购竞价等方式发行、销售与转让私募产品，不采用集中竞价方式,法律法规有明确规定的除外。
第十一条  甲方采取的参与柜台市场交易方式由双方书面约定。委托方式仅包括柜台委托、互联网委托两种方式。甲方应充分了解各种委托系统的操作方法，乙方对此有解答咨询的义务。
第十二条　甲方通过本协议第十一条约定的交易方式下达的委托指令均以乙方电脑记录资料为准。甲方进行柜台委托时，必须提供委托人（指甲方本人或其授权代理人，下同）身份证原件，并填写委托单，否则，乙方有权拒绝受理甲方的委托，由此造成的后果由甲方承担。
甲方在使用互联网委托方式进行柜台市场交易时，需凭自行设置的交易密码登录乙方柜台市场交易委托系统进行。甲方必须严格按照乙方柜台市场交易委托系统的提示进行操作，因甲方操作失误造成的损失由甲方自行承担。
乙方郑重提醒甲方注意密码的保密。任何使用甲方密码进行的操作（包括但不限于交易委托、客户资料修改等）均视为甲方行为；由于密码失密给甲方造成损失的，甲方应自行承担全部经济损失和法律后果。
对乙方柜台市场交易委托系统和私募报价系统拒绝受理的委托，均视为无效委托。
第十三条  乙方按照其在公司网站或营业部场所公示的收费标准向甲方收取其参与柜台市场交易的各项费用。
第十四条  乙方对根据甲方有效委托而完成的柜台市场交易所引起的一切后果均不负任何责任，由甲方自行对其有效委托产生的后果负一切责任。
第十五条  甲方参与柜台市场交易成交与否最终以私募报价系统发送的清算数据为准，成交即时回报与口头答复均仅供参考。乙方接受甲方对其柜台市场交易成交及账户资金和产品变化情况的书面查询，并应甲方的要求提供相应的书面清单。
第十六条  甲方在进行柜台交易前须确保已完全了解有关交易规则，避免发出无效交易指令，否则由此导致的一切后果由甲方自行承担。
第十七条  甲方发现以下有关产品账户异常以致影响甲方的正常交易时，甲方应立即通知乙方：
1、甲方无法进入柜台市场交易系统；
2、甲方发现资金账户中资金余额有异常；
3、甲方发现金融产品余额有异常。
当上述情况发生后，甲方应及时与乙方联系，以保证甲方的正常交易能够尽快恢复。
第十八条 若甲方将柜台市场交易金融产品转托管在乙方处，应及时向乙方确认证券托管情况。转托管是指甲方要将其持有的柜台金融产品从其它证券公司柜台市场处转移到乙方托管。
第十九条  乙方通过本协议第十一条约定的交易方式提供给甲方的各种信息、数据仅供甲方参考，甲方对其全部柜台市场交易的查询及资金和证券对账均以乙方盖章的对账单为准。
第二十条  乙方接受甲方柜台市场交易指令时，如果出现甲方原委托指令未撤销而造成乙方无法执行甲方新的委托指令时，由此导致的后果由甲方承担。
第二十一条  甲方应在交易指令下达后三个交易日内向乙方书面或通过互联网委托系统查询该笔交易结果，当甲方对该结果有异议时，须在查询当日以书面形式向乙方质询。
甲方逾期未办理查询或未对有异议的查询结果以书面方式向乙方提出质询的，视同甲方已确认该结果。
乙方为甲方提供产品账户余额和历史明细的查询服务，甲方按照乙方要求办理相关手续后，乙方可为甲方提供柜台市场交易及余额对账单。

第六章　变更和撤销
第二十二条　当甲方重要资料变更时，应及时书面通知乙方，并按乙方要求办理变更手续。
前款所述甲方重要资料包括但不限于机构名称、法定代表人、自然人姓名、联系方式、居住地址、有效证件号码、授权代理人或授权事项、委托交易方式等。
第二十三条　甲方办理撤销柜台市场业务手续，须到乙方柜台办理，乙方不接受其他任何方式的申请。甲方需携带有效身份证件到乙方柜台亲自签署有关文件。 授权代理人可凭经公证的授权委托书、代理人和甲方身份证明及本公司柜台账户卡办理。
第二十四条　除非甲方有未履行交易交收义务等违法违规情形或与证券营业部签订的各种协议未履行完毕的，甲方有权要求乙方按照乙方柜台市场业务管理制度办理产品账户注销业务。
第二十五条　有下列情形之一的，乙方可要求甲方限期纠正，甲方不能按期纠正或拒不纠正的，乙方可视情形依法暂停甲方对其产品账户的使用：
1、乙方发现甲方向其提供的资料、证件严重失实；
2、乙方发现甲方的资金来源不合法；
3、甲方有严重损害乙方合法权益、影响其正常经营秩序的行为；
4、甲方违反相关法律法规，通过乙方的自助交易系统进行违法违规交易的；
5、法律、法规规定的其他情形。
第二十六条　乙方暂停甲方产品账户，需书面通知甲方，并说明理由。
第二十七条　甲方在收到乙方暂停甲方产品账户通知后应到乙方办理产品账户注销手续，如因甲方未及时办理产品账户注销手续造成甲方损失的，造成的一切损失由甲方自行承担。
在甲方收到乙方暂停甲方产品账户通知至甲方注销手续期间，乙方不接受甲方所有柜台市场业务交易指令。

第七章　甲方授权代理人委托
第二十八条　甲方开设产品账户后，可以授权代理人代为办理柜台市场业务交易委托及相关事项。
第二十九条  甲方授权他人代为办理前条所述事项时，应当签署有关授权委托书，并向乙方提交代理人的有效证件。甲方对授权委托书的签署、变更和撤销等应当在乙方柜台进行，但经国家公证机关公证或我国驻外使领馆认证的授权委托书可除外。
第三十条  授权委托书至少应载明下列内容：代理人姓名及身份证号码、授权权限、代理期限及乙方要求明示的其他事项。
第三十一条　甲方在授权委托有效期内变更授权事项或撤销授权时，必须到乙方柜台书面通知乙方或及时提供经国家公证机关、我国驻外使领馆认证的书面授权委托书通知乙方，否则，因未及时通知乙方所造成的甲方损失由甲方自行承担。
乙方在收到甲方书面通知前，仍执行原授权委托书。　
第三十二条  甲方应将签署和变更后的授权委托书或对授权委托书的撤销文件交乙方保管，且该等文件均构成本协议组成部分。　　　　　　　　　　　　　　　　　　　　　　　　
第三十三条  乙方根据甲方的授权接受甲方代理人的委托指令，视同甲方本人委托并由甲方承担该委托的结果。
第三十四条  甲方不得以任何方式全权委托乙方工作人员代理进行柜台市场业务交易及其他相关业务，否则由此产生的后果由甲方承担。
第三十五条　因甲方授权代理人原因而引起甲方损失的，由甲方自行承担，乙方不承担任何责任。

第八章 甲乙双方的责任及免责条款
第三十六条　甲方参与乙方柜台市场业务时应保证其资金账户及产品账户中有足够的资金或金融产品，保证根据成交结果承担相应的清算交收责任，否则乙方有权拒绝甲方的委托指令。甲方资金或金融产品不足时，因非正常原因造成甲方买入或卖出成功的，甲方应承担透支资金或卖空证券的归还责任。乙方可对甲方的资金和金融产品进行处分，包括但不限于限制取款、限制交易、留置、扣划、强制平仓等，由此造成的全部损失和法律后果由甲方自行承担，给乙方造成的损失，乙方有权追偿。
第三十七条  甲方参与乙方柜台市场业务时，应具备具体参与的金融产品类型的合格投资者准入条件和投资门槛。甲方因不具备相应的金融产品类型的合格投资者准入条件和投资门槛导致无法买入相应的金融产品，由甲方自行承担责任。
甲方参与乙方柜台市场业务交易成交的，应当依法纳税，并向乙方交纳手续费或佣金。
第三十八条　乙方对甲方的开户资料、委托事项、交易记录等资料负有保密义务，非经法定有权机关或甲方许可或授权及涉及乙方的诉讼、仲裁，不得向第三人透露，因第三方存管协议中约定可被存管银行获悉的除外。
乙方承担因其擅自泄露甲方资料给甲方造成的损失和法律后果。
第三十九条　因地震、台风、水灾、火灾、战争、瘟疫、社会动乱及其他不可抗力因素导致的甲方损失，乙方不承担任何赔偿责任。
第四十条　因乙方不可预测或无法控制或无法避免的系统故障、设备故障、通讯故障、电力故障等突发事故及其他非乙方人为因素、监管机关或行业协会规定的其他免责情形，给甲方造成的损失，乙方不承担任何赔偿责任。
第四十一条　第三十九、四十条所述事件发生后，乙方应当及时采取措施防止甲方损失可能的进一步扩大。
第四十二条　甲方应密切关注投资金融产品的相关信息披露，由于甲方获取信息不及时造成的投资失败，甲方自行承担责任。
第四十三条  甲、乙双方各自依照法律与本协议承担违约责任，任何一方不对其他方的行为承担责任。

第九章　争议的解决
第四十四条　因甲方违约而使乙方遭受的损失应由甲方承担责任，乙方有权对甲方资金账户内的资金及其产品账户内的金融产品采取限制措施。
第四十五条  如出现涉及甲方财产继承权或财产归属的纠纷，乙方均按公证机关出具的公证书或司法机关的裁决办理。
第四十六条　本协议执行中发生的纠纷，甲乙双方可以自行协商解决或向中国证券业协会申请调解，若协商或调解不成，双方同意按以下第种方式解决：（如甲方不作选择，即默认为选择2）
1、提交天津仲裁委员会仲裁；
2、向合同乙方所在地法院提起诉讼。

第十章　机构客户
第四十七条　当甲方是机构投资者时，开设产品账户，按如下程序办理：
1、依法指定合法的代理人，并提供加盖机构公章、法定代表人签字的授权委托书；
2、提交甲方法人身份证明文件副本及其复印件或加盖发证机关确认章的复印件、组织机构代码证副本及复印件、税务登记证副本及复印件、代理人身份证明原件及复印件、法定代表人证明书、法定代表人身份证明原件及复印件；
3、填写开户申请表；
由于甲方提供的前款所述资料引起的法律后果由甲方承担。
第四十八条　甲方每年按国家行政管理机关的要求完成法人身份证明文件、组织机构代码证、税务登记证的年检后，应在一个月内将上述文件提交乙方查验、留存复印件，否则，乙方有权对本机构账户采取限制措施（包括但不限于限制账户交易等）。
第四十九条  甲方办理产品账户注销，须出示第四十七条所列证件原件，并按乙方要求填写注销登记表。

第十一章　附　则
第五十条　甲乙双方必须严格遵守有关法律、法规、规章、私募报价系统业务规则及渤海证券柜台市场业务制度规则以及双方协议约定的规则的规定。
第五十一条　甲方的委托凭证是指其参与柜台市场业务交易委托所填写的单据、非柜台交易所形成的乙方电脑记录资料。
第五十二条　乙方必须根据法律法规规定的方式和期限保存甲方的交易凭证等资料。
第五十三条　本协议签署后，若有关法律、法规、规章、私募报价系统业务规则及渤海证券柜台市场业务制度规则等交易规则修订，本协议相关内容及条款按新修订的规定办理，但本协议其他内容及条款继续有效。
第五十四条　本协议根据有关法律、法规、规章、私募报价系统业务规则及渤海证券柜台市场业务制度规则，如需修改或增补，修改或增补的内容将由乙方在其营业场所及网站以公告形式通知甲方，若甲方在七日内不提出异议，则公告内容即成为本协议组成部分。
第五十五条　本协议所指的通知方式除上述条款中已有约定外，可以是书面送达通知、电话通知、公告通知、电子邮件通知。
邮寄的书面通知以收件人签收日为送达生效日，收件人未签收或拒绝签收的，以寄出日后的第5个工作日视为送达生效日；电话通知即时生效；公告通知在乙方公告（公告内容在其营业场所及网站公示）之日起七日内甲方没有提出异议的，即行生效；以电子邮件发出的，以发出日为送达生效日。
乙方郑重提醒甲方：甲方应随时保持电话等联络方式的畅通，注意随时查看电子邮件、短信以及甲方公告的内容，如因乙方怠于履行查看义务或其提供的联络方式发生变动且未及时向乙方变更的，由此产生的一切后果由乙方自行承担。
第五十六条  本协议所涉及名词、术语的解释，以法律法规的规定为准；法律法规对此没有解释的，适用证券监督管理机关规范性文件、私募报价系统和证券登记结算机构有关规则及行业规章。
第五十七条　本协议有效期自双方签署盖章之日起至销户或第四十三、四十四条所指情形发生时止。
第五十八条　《渤海证券柜台市场产品账户开户申请书》、《渤海证券柜台市场业务风险揭示书》、《海证券柜台市场电子约定书》为本协议不可缺少附属文件，与本协议共同构成完整协议内容。
第五十九条　本协议一式两份，甲乙双方各执一份，每份具有同等的法律效力。本协议书同时满足以下条件后生效：
1、甲方为个人的，经甲方在《渤海证券柜台市场产品账户开户申请书》申请人处签字；甲方为机构的，经其法定代表人（负责人）及授权代理人在《渤海证券柜台市场产品账户开户申请书》相应签章处签章并加盖公章；
2、乙方经办机构在《渤海证券柜台市场产品账户开户申请书》加盖公章或相应业务专用章，同时经办机构的代理人加盖人名章或签字。
            </pre>
        </div>
        <div ng-switch-default>
            <div ng-bind-html="agreement.content | escapeSequence" style="width: 100%; height: 250px; overflow-y: scroll"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">确认</button>
</div>