<div>
    <div class="m-t-sm m-b-xs">
        <span class="text-lg text-info"><img src="public/images/sign.png" class="m-r-xs" style="margin-top: -3px;">{{menutitle}}</span>
    </div>

    <div class="line line-xs b-b b-light"></div>
    <div class="m-t-sm wrapper-xs bg-light">
        <div class="wrapper-lg bg-white">
            <div ng-switch on="step">
                <div ng-switch-when="1">
                    <div class="font-bold text-lg text-center m-b">
                        <span>风险承受能力测评</span>
                    </div>
                    <div class="text-danger text-lg text-center">
                        <span ng-bind="testInfo.PAPER_NAME"></span>
                    </div>
                    <div class="text-muted m-t m-b" style="text-indent: 2em">
                        <span ng-bind="testInfo.PROLOGUE"></span>
                    </div>
                    <div ng-repeat="qs in questions">
                        <div class="clear">
							<span class="col-xs-1 text-center text-md bg-info" style="height: 30px;padding-top: 4px">
								{{qs.QUESTION_NO}}
							</span>
							<span class="col-xs-11 wrapper-xs" style="background: #D4EEFD">
								{{qs.QUESTION_NAME}}
							</span>
                        </div>
                        <div class="radio l-h-2x m-l-xxl" ng-repeat="as in qs.ANSWER">
                            <label ng-class="{'i-checks': !isIE8, 'i-checks-sm': !isIE8}">
                                <input type="radio" name="{{'radio' + qs.QUESTION_ID}}" value="{{$index}}"
                                       answerres="{{qs.QUESTION_TYPE + '###' + qs.QUESTION_ID + '###' + as.ANSWER_CODE + '###' + ''}}"
                                       ng-click="itemSelect()">
                                <i></i>
                                {{as.ANSWER_CODE + '、' + as.ANSWER_NAME}}
                            </label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-sm btn-info w-xs m-r-sm" ng-click="submit()" ng-disabled="!isChecked">
                            <span>提交</span>
                        </button>
                        <button class="btn btn-sm btn-info w-xs m-l" ng-click="reset()" ng-disabled="!isChanged">
                            <span>重置</span>
                        </button>
                    </div>
                </div>
                <div ng-switch-when="2">
                    <div class="font-bold text-lg text-center">
                        <span>填写第二联系人信息</span>
                    </div>
                    <div class="text-muted text-center m-t m-b">
                        根据创业板交易规则及创业板交易管理办法，我们需要您提供第二联系人的姓名及联系方式。
                    </div>
                    <form name="form" role="form" class="form-horizontal form-validation"
                          ng-submit="subForm(form.name.$dirty || form.mobile.$dirty || form.channel.$dirty)" novalidate>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">第二联系人姓名：</label>

                            <div class="col-xs-6">
                                <input type="text" placeholder="请输入姓名" class="form-control" name="name"
                                       ng-model="contactInfo.LINKMAN_DELX" required>
                                <span class="help-block m-b-none text-danger"
                                      ng-show="(form.name.$dirty && form.name.$invalid) || form.name.$error.required">请输入第二联系人姓名</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">第二联系人手机号：</label>

                            <div class="col-xs-6">
                                <input type="text" placeholder="请输入手机号码" ng-pattern="/^1[0-9]{10}$/"
                                       class="form-control" name="mobile" ng-model="contactInfo.LINKMAN_TEL_DELX"
                                       required>
                                <span class="help-block m-b-none text-danger"
                                      ng-show="(form.mobile.$dirty && form.mobile.$invalid) || form.mobile.$error.required">请输入11位数字手机号码(仅支持大陆手机号段)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">信息发送渠道：</label>

                            <div class="col-xs-6">
                                <input type="text" placeholder="请输入信息发送渠道" ng-pattern="/^1[0-9]{10}$/"
                                       class="form-control" name="channel" ng-model="contactInfo.LINKMAN_TEL_XXFS"
                                       required>
                                <span class="help-block m-b-none text-danger"
                                      ng-show="(form.channel.$dirty && form.channel.$invalid) || form.channel.$error.required">请输入11位数字手机号码(仅支持大陆手机号段)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-3 col-xs-6">
                                <button type="submit" class="btn btn-info btn-block" ng-bind-html="subtip"
                                        ng-disabled="!contactInfo.LINKMAN_DELX || !contactInfo.LINKMAN_TEL_DELX || !contactInfo.LINKMAN_TEL_XXFS || form.name.$invalid || form.mobile.$invalid || form.channel.$invalid || submitting"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-switch-when="3">
                    <div class="font-bold text-lg text-center">
                        <span>协议签署</span>
                    </div>
                    <div class="text-info m-t m-b">
                        为了您能更好地开展创业板业务，我们为您准备了《{{agreement_name}}》，请您认真阅读并签署。
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            姓名：{{user.USER_FNAME}}
                        </div>
                        <div class="col-xs-9">
                            股东账号：<select ng-model="actno" disabled
                                         ng-options="x.TRDACCT as x.STKBDNAME for x in accountlist"></select>
                        </div>
                    </div>
                    <div class="b m-t-lg">
                        <div class="wrapper-xs font-bold text-center b-b bg-light hide" ng-bind="agreement_name"></div>
                        <div class="l-h-2x text-muted padder-xxs" style="text-indent: 2em;overflow-y: scroll"
                             ng-style="myHeight" ng-include="agreement_url"></div>
                    </div>
                    <div class="m-t m-b-md">
                        <label ng-class="{'i-checks': !isIE8, 'i-checks-sm': !isIE8}">
                            <input type="checkbox" ng-model="agree"><i></i>本人/机构已认真阅读并完全理解《{{agreement_name}}》全部内容，愿意承担创业板股票交易的各种风险和损失。
                        </label>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-md btn-info" ng-click="submit(true)" ng-disabled="!agree">
                            <span>下一步</span>
                        </button>
                    </div>
                </div>
                <div ng-switch-when="4">
                    <div class="font-bold text-lg text-center">
                        <span><i class="fa fa-check-circle text-success m-r-xs"></i>您已成功开通创业板</span>
                    </div>
                    <div class="text-center m-t">
                        <button class="btn btn-sm btn-info w-xs" ng-click="cancel()">撤销</button>
                    </div>
                    <div class="line b-b m-t m-b"></div>
                    <div class="wrapper-lg text-center">
                        <div>您已成功开通创业板业务，如您在交易遇到任何问题，可以拨打我们的客服热线：</div>
                        <div class="wrapper-md text-2x text-info">400-651-5988</div>
                        <div>我们的客服人员将竭诚为您服务！</div>
                    </div>
                </div>
                <div ng-switch-when="5">
                    <div class="wrapper-xl text-center">
                        <div class="h3"><i class="fa fa-times-circle text-danger m-r-xs"></i>客户风险级别验证</div>
                        <div class="text-2x text-danger m-t" ng-bind="error"></div>
                        <div class="text-primary m-t">根据您的风险级别，您暂时不符合开通创业板的条件。</div>
                    </div>
                </div>
                <div ng-switch-when="6">
	                <div class="wrapper-xl">
		                <div class="h3 text-center">
		                	<i class="fa fa-exclamation-circle text-info m-r-xs"></i>{{info}}
		                </div>
		            </div>
                </div>
                <!-- <div ng-switch-default class="list-group h3 m-b-none">
                    <a class="list-group-item m-b" ng-click="open(2)">
                        <i class="fa fa-chevron-right text-muted wrapper-sm"></i>
                        <div class="h4 text-info m-b">转签创业板</div>
                        <div class="h5">我是转户过来的，在原券商处开通过创业板，我要转签</div>
                    </a>
                    <a class="list-group-item" ng-click="open(1)">
                        <i class="fa fa-chevron-right text-muted wrapper-sm"></i>
                        <div class="h4 text-info m-b">新开通创业板</div>
                        <div class="h5">我没有开通过创业板</div>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</div>