<div>
    <div class="modal-body wrapper-lg clear">
        <div ng-switch on="isPassed">
            <div ng-switch-when="true">
                <div class="text-3x text-danger text-center" ng-bind="score"></div>
                <div class="text-center m-t m-b-xl">
                    测试通过啦，您掌握得不错哟！
                </div>
                <div class="text-center m-b">
                    <a ng-click="next()" class="btn btn-md btn-info">
                        <span>下一步</span><span class="m-l">协议签署</span>
                    </a>
                </div>
            </div>
            <div ng-switch-when="false">
                <div class="text-3x text-danger text-center" ng-bind="score"></div>
                <div class="text-center m-t m-b-lg">
                    很遗憾，就差那么一点点，您没有通过这次测试。
                </div>
                <div class="line b-b b-2x m-b"></div>
                <div class="text-center m-b hide">
                    修炼不够？去<a class="text-info">投资者社区</a>学习吧！
                </div>
                <div class="text-lg text-center m-b">
                    没发挥好？<a ng-click="cancel()" class="text-info">再测一把</a>
                </div>
            </div>
        </div>
    </div>
</div>