<div class="table-responsive" ng-if="showtype == 1">
    <table class="table prdlist">
        <thead>
        <tr>
            <th class="v-middle text-left">产品名称</th>
            <th class="v-middle text-center">产品代码</th>
            <th class="v-middle text-center">参与起点</th>
            <th class="v-middle text-center">追加金额</th>
            <th class="v-middle text-center">产品期限</th>
            <th class="v-middle text-center">预期收益率</th>
            <th class="v-middle text-center">风险等级</th>
            <th class="v-middle text-center">销售状态</th>
            <th class="v-middle text-center" class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="prd in prds" class="text-center">
            <td class="v-middle text-left"><a class="text-ellipsis" ng-href="#/kfps/detail/{{prd.PRO_ID}}/{{type}}" title="{{prd.SHT_NAME}}">{{prd.SHT_NAME}}</a></td>
            <td class="v-middle"><a ng-href="#/kfps/detail/{{prd.PRO_ID}}/{{type}}">{{prd.PRO_CODE}}</a></td>
            <td class="v-middle">{{prd.INVE_START | moneyFomat:'2'}}</td>
            <td class="v-middle">{{prd.ADDTO_MIN_BUY ? (prd.ADDTO_MIN_BUY | moneyDivide) + '元' : ''}}</td>
            <td class="v-middle">{{prd.INVEST_HORI}}</td>
            <td class="v-middle" ng-class="{'text-success': prd.EXPE_YIELDS < 0, 'text-danger': prd.EXPE_YIELDS > 0}">{{0 != prd.EXPE_YIELDS ? prd.EXPE_YIELDS + '%' : '浮动收益'}}</td>
            <td class="v-middle">{{prd.RISK_LVL_DESC}}</td>
            <td class="v-middle">{{prd.SALE_STA_DESC}}</td>
            <td class="v-middle">
                <a ng-href="#/kfps/detail/{{prd.PRO_ID}}/{{type}}">
                    <button ng-show="prd.canBuy" class="btn btn-xs btn-danger" style="width: 50px; height: 25px;">购买</button>
                    <button ng-show="!prd.canBuy" class="btn btn-xs btn-info" style="width: 50px; height: 25px;">查看</button>
                </a>
            </td>
        </tbody>
    </table>
</div>

<div class="wrapper-sm b-a" ng-if="showtype == 0">
    <div class="row padder-sm">
        <div class="col-xs-3 no-padder" ng-repeat="prd in prds">
            <div prd-graph-panel cols="4"></div>
        </div>
    </div>
</div>