<div class="panel b-a">
    <div class="panel-heading b-b">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-9">
                <div class="row text-left">
                      <div class="col-xs-4 no-padder" style="background: url(public/images/step_bline.png) no-repeat 34px 15px" ng-repeat="item in flowNav">
                        <div class="btn btn-icon btn-rounded btn-info" ng-class="{'disabled':flowActive==item.activityName}"><span class="text-xxl">{{$index+1}}</span></div>
                        <div class="m-t-xs">{{item.activityName}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body text-md m-b-md">
        <form name="myForm" role="myForm" class="form-horizontal form-validation" ng-submit="doReply()">
            <div class="form-group">
                <div class="col-xs-offset-1 col-xs-11">
                    <div class="m-t-md m-b-md">请输入交易密码</div>
                </div>
            </div>
            <div class="form-group">
                <span class="col-xs-3 text-right text-md m-t-xs">交易密码</span>

                <div class="col-xs-4 text-left">
                    <input type="password" class="form-control" placeholder="请输入交易密码" name="passwd"  ng-model="user.passwd" required  ui-focus="true">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-4">
                    <button type="submit" class="btn btn-sm bg-info w-full" ng-disabled="!myForm.$valid">下一步</button>
                </div>
            </div>
        </form>
    </div>
</div>

